.WeatherForecast {
  text-align: center;
  font-size: 14px;
  margin: 10px 0;
  margin-right: 15px;
}

.WeatherForecast canvas {
  display: block;
  padding: 10px 0;
  margin-left: 5px;
  margin-right: 5px;
}
